@Html.Partial("~/Areas/Product/Views/Shared/_ProductRightColumn.cshtml")

<ul class="row sidebar list-unstyled">
    <li><a href="~/admin/user/manageusers">لیست کاربران</a> </li>
    <li><a href="~/admin/credit">پرداخت های کاربران</a> </li>
    <li><a href="~/admin/order/list?status=1">لیست سفارشات کاربران</a> </li>
    <li><a href="~/admin/order/userlist">کاربران دارای سفارش</a> </li>
    <li><a href="~/admin/mainpage/settopmenu">منوی بالای بالا</a> </li>
    <li><a href="~/admin/mainpage/setfooter">Footer</a> </li>
    <li><a href="~/admin/mainpageslider">اسلایدر صفحه اصلی</a> </li>
    <li><a href="~/slider/builder.html">ساخت اسلایدر صفحه اصلی</a> </li>
    <li><a href="~/admin/TransportType/transporttype">تعریف انوع ارسال کالا</a> </li>
    <li><a href="~/polling/question/index">تعریف نظرسنجی</a></li>
    <li><a href="~/polling/pollingresult/index">نتایج نظرسنجی</a></li>
</ul>
