<ul class="row sidebar list-unstyled">
   
    <li><a href="~/admin/constant/manageconstant">مدیریت ثابت ها </a></li>
    <li><a href="~/admin/category/managecategory">مدیریت گروه ها </a></li>
    <li><a href="~/admin/categoryproperty/managecategoryproperty">فیلد های گروه ها </a></li>
    <li><a href="~/admin/MainPage/index">برندهای صفحه اصلی </a></li>
    <li class="divider"></li>
    <li><a href="~/Admin/store/managestore">انبار </a></li>
    <li><a href="~/Admin/shelf/manageshelf">قفسه </a></li>
    @*<li><a href="~/Product/store/Index">جستجوی محصول </a></li>*@
    <li><a href="~/Product/manage/create/#/producttype/">ثبت نوع محصول </a></li>
    <li><a href="~/Product/manage/create/#/producttypelist">لیست محصولات </a></li>
    <li><a href="~/admin/color/index">رنگ ها </a></li>
    <li><a href="~/admin/brand/index">برند ها </a></li>
    <li><a href="~/admin/size/index">اندازه ها </a></li>
    <li><a href="~/admin/unit/index">واحد اندازه فروش </a></li>
    <li class="divider"></li>
    <li><a href="~/cms/home/pagelist">لیست مطالب ثبت شده</a> </li>
    <li><a href="~/admin/usercomment/usercomments">نظرات کاربران</a> </li>
</ul>

