@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
@using Alb.Omdehsara.Common.Product;
@using Alb.Omdehsara.UI.MVC.Models;
@using Alb.Omdehsara.UI.MVC.Api.Models;
@model Alb.Omdehsara.UI.MVC.Models.IndexViewModel
    <div ng-view>

    </div>

@section css{
    <link href="~/Content/rzSlider.css" rel="stylesheet" />
}

@section scripts{
    <script>
        $(document).ready(function () {
        })
        
    </script>
}
